@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&family=Poppins:ital,wght@0,600;0,700;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanuman&family=IM+Fell+Double+Pica+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&family=Inter:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&family=Inter:wght@100;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Sono:wght@200;300&display=swap');

*{
    margin: 0;   
    padding: 0;
    box-sizing: content-box;
}

/*============Home===========*/

.section-1-bg{
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

aside{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    overflow: hidden;
}

.icon-menu img{
    width: 45px;
    height: 45px;
    margin-right: 15px;
    margin-top: 15px;
}

#barra-menu{
    background: black;
    height: 100vh;
    width: 180px;
    transition: 0.3s all;
}

#barra-menu ul li{
    list-style: none;
    padding: 15px;
}

#barra-menu ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    width: 100%;
}

#barra-menu ul li a:hover{
    border: solid 1px #2ecc71;
    padding: 8px;
    border-radius: 15px;
    background: #2ecc71;
}

.c-icon{
    margin-top: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 15px;
    overflow: hidden;
}

.c-icon span{
    color: #fff;
}

.c-icon span:hover{
    transition: 0.2s;
    transform: 0.5s;
    color: #2ecc71;
}

.main-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.main-title h1{
    margin-left: 10%;
    font-size: 70px;
    color: #fff;
    margin-top: 10%;
    padding: 0;
    font-family: "Poppins";
    font-weight: bold;
    letter-spacing: 2px;
}

.main-title h2{
    margin-left: 10%;
    color: #2ecc71;
    font-size: 50px;
    font-family: "sono";
    font-weight: bold;
}

.main-title h5{
    color: #fff;
    font-size: 20px;
    font-family: 'sono', sans-serif;
    letter-spacing: 2px;
    margin-left: 10%;
    margin-top: 2%;
    font-weight: 200;
}

.main-title button{
    width: 15%;
    margin-left: 10%;
    margin-top: 50px;
    padding: 8px 5px;
    font-size: 20px;
    background-color: #5CBD85;
    border-radius: 50px;
    color: #FBF7F7;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    transition-duration: .9s;
} 

.main-title button:hover{
    border: solid 1px #fff;
    transition: 0.7s;
    background: transparent;
}

.numeros{
    display: flex;
    text-align: left;
    margin-top: 45px;
    margin-left: 10%;
    color: #fff;
    gap: 40px;
    cursor: pointer;
    transition: 0.5s;
}

.title h3{
    font-size: 35px;
    margin-top: 15px;
    font-family: 'inter';
    font-weight: bold;
}

.title p{
    font-family: 'inter';
    font-weight: normal;
}

.title:hover{
    transition: 1.2s;
    transform: scale(1.1);
}
@media screen and (max-width: 414px){

    .main-title h1{
        font-size: 40px;
        margin-top: 75%;
        margin-right: 15%;
    }

    .main-title h2{
        font-size: 25px;
        margin-right: 15%;
    }

    .main-title button{
        width: 150px;
    }
    
    .numeros{
        margin-right: 25%;
        margin-top: 50%;
    }
}



/*============About===========*/

.c-sobre{
    display: flex;
    justify-content: space-around;
    padding: 150px 200px 250px;
    width: 100%;
    flex-wrap: wrap;
}

.image video{
    width: 350px;
    height: auto;
    box-shadow: 4px 4px 4px #858585, 4px 4px 4px;
}

.Sobre-mim{
    padding: 0px 200px 0px 0px;
}

.Sobre-mim h1{
    text-align: center;
    font-size: 55px;
    font-family: "Inter";
    font-weight: bold;
    color: black;
}

.Sobre-mim h4{
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
    font-weight: normal;
    font-weight: bold;
    font-family: "Inria Sans";
}

.Sobre-mim span{
    color: #2ecc71;
}

.Sobre-mim p{
    margin-top: 25px;
    font-family: "Inria Sans";
}

.Sobre-mim button{
    background-color: #595858;
    margin-left: 35%;
    margin-top: 35px;
    width: 25%;
    padding: 10px 10px 10px 10px;
    border: none;
    font-size: 15px;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 4px 4px 4px #858585, 4px 4px 4px;
    transition-duration: .9s;
}

.Sobre-mim button:hover{
    color: #2ecc71;
    background: transparent;
    transform: translate(0.9);
    transition: 0.8s;
}

@media screen and (max-width: 414px) {
    .image video{
        width: 350px;
        height: auto;
    }

    .Sobre-mim p{
        font-size: 12px;
        width: 500px;
        padding: 15px;
        text-align: center;
    }
    
    .Sobre-mim button{
        margin-top: 50px;
        text-align: center;
    }
}

/*============Services===========*/

.Container{
    width: 100%;
    background-color: #f3eeee;
    padding: 10px;
}

.Container h1{
    color: #000000;
    text-align: center;
    font-size: 70px;
    font-family: "Inria Sans";
    font-weight: bold;
    padding-top: 12%
}

.Container p{
    text-align: center;
    font-family: "Inria Sans";
    color: #685b5b;
    margin-top: 25px;
}

.c-card{
    display: flex;
    justify-content: space-around;
    margin-top: 35%;
    text-align: center;
    flex-wrap: wrap;
}

.card{
    background-color: #fffbfb;
    padding: 50px;
    box-shadow: 4px 4px 4px #858585, 4px 4px 4px;
    margin-top: 25px;
}

.card img{
    width: 50px;
    height: auto;
}

.c-card-2{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    text-align: center;
    flex-wrap: wrap;
}

.card h3{
    font-size: 20px;
    font-family: "Inria Sans";
    font-weight: 700;
}

.card h4{
    font-family: "Inria Sans";
    font-weight: lighter;
    color: #beb7b7;
    margin-top: 15px;
}

.card:hover{
    transform: scale(1.1);
    transition-duration: .9s;
}

@media screen and (max-width: 414){

    .card{
        margin-top: 35px;
    }

    .c-card-2{
        margin-top: ;
    }
    
}
